/* burger-pop*/

#pop-nav {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #000000a3;
    z-index: 10;

}


.burger-pop-main {
    border-radius: 15px;
    display: flex;
    position: absolute;
    height: 60vh;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #52796f;
    background: radial-gradient(circle at center, #dad7cd, #52796f);

}

.burger-pop-main a {
    font-size: 30px;
    text-decoration: none;
    color: black;

}

.cross {
    cursor: pointer;
    font-size: 35px;
    position: absolute;
    right: 20px;
    top: 5px;
    text-decoration: none;
    color: black;

}

#pop-nav.hide {
    display: none;
}

@media screen and (max-width:900px) {
    .burger-pop-main {
        width: 90vw;
    }

    .burger-pop-main a {
        font-size: 25px;
    }
}