/* education */

body {
    background-color: #DEF5E5;
}

.edu-nav {
    background-color: #52796f;
    padding-left: 5px;
    padding-right: 20px;
}

.edu-main {
    height: 50vh;
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.bg-green {
    height: 50%;
    width: 100%;
    background-color: #52796fc6;


}

.profile-font {

    position: absolute;
    font-size: 50px;
    color: #cad2c5;
    background-image: url('edu.jpg');
    height: 40vh;
    width: 60vw;
    background-size: cover;

}

.profile-font div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.626);
}

.about-degree,
.about-school {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-degree h1,
.about-school h1 {
    text-decoration: underline;
}



.degree,
.school {
    width: 100%;
    text-align: center;
}

.cuimg,
.svmimg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuimg img,
.svmimg img {
    height: 350px;
    border-radius: 10px;
}

@media screen and (max-width:900px) {

    .about-degree,
    .about-school {
        flex-direction: column;
        align-items: center;
    }

    .about-degree h1,
    .about-school h1 {
        text-decoration: underline;
    }



    .degree,
    .school {
        width: 100%;
        text-align: center;
    }

    .cuimg,
    .svmimg {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cuimg img,
    .svmimg img {
        height: 150px;
    }

    .profile-font h1 {
        font-size: 50px;
    }

    .bg-green {
        height: 10vh;
    }

    .profile-font {
        height: 20vh;
        width: 90vw;
    }

    .edu-main {
        padding: 0;
        height: 30vh;
    }
}