@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@500&family=Ubuntu:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width:6px;
  
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:6px;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-text-color--); 
}
html {
  font-size: 10px;
}
body {
 background-color: var(--primary-bc-color--);
 overflow-x: hidden;
}
:root{
    --primary-bc-color--:#edf1f4;
    --primary-neu-bc-color--:#f0fff0;
    --primary-text-color--:#0033ff;
}


/* navigation start */


nav {
  /* border:2px solid red; */
  z-index:1;
  position: sticky;
  top:0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 13vh;
  gap: 500px;
  background: var(--primary-bc-color--);
  font-size: 1.4rem;
}
nav .logo {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: 'Sora', sans-serif;
  font-weight:500;
  letter-spacing: 0.4px;
}
nav div{
  /* border:2px solid red; */
  transition: all 1s ease 0s;
}
nav div a {
  text-decoration: none;
  margin: 13px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'Sora', sans-serif;
  font-weight:500;
  transition: color 0.2s ease 0s;
  letter-spacing: -0.2px;
}
nav div a:nth-child(1){
  display: none;
}

nav div a:nth-child(6) { 
  display: inline-block;
  border-radius: 4px;
  padding: 13px;
  color: var(--primary-text-color--);
  background: var(--primary-neu-bc-color--);
  border:3px solid var(--primary-bc-color--);
  border-radius:5px;
  font-weight:800;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 10px #fff;
  transition:all 0.5s ease 0s;
  transform: translateY(0px);
}
nav div a:hover {
  
  color:var(--primary-text-color--);
  /* background-color: var(--primary-text-color--); */
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0),inset 0px 0px 0px rgba(255, 255, 255, 0);
  transform: translateY(-5px);
  
}
nav div a:nth-child(6):hover{
  background-color:var(--primary-text-color--) ;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0),inset 0px 0px 0px rgba(255, 255, 255, 0);
  color:var(--primary-neu-bc-color--)
}
nav .bars{
  display: none;
  color:black;
  font-size: 2rem;

}
nav .bars:hover{
  color:var(--primary-text-color--)
}



/* navigation end */


/* section start */


section{
    /* border:2px solid red; */
    margin-top:20px;
}
section #features-section{
    width:78vw;
    /* border:2px solid red; */
    margin:auto;
}
section #features-section .features{
    width:78vw;
    margin:auto;
    margin-bottom: 20px;
    color:var(--primary-text-color--);
    font-family: 'Montserrat',sans-serif;
    font-size: 1.4rem;
    font-family: 'Sora', sans-serif;
    font-weight:500;
    letter-spacing: 3px;
    text-transform: uppercase;
}
section #features-section .wid{
    font-size: 6rem;
    font-family: 'Sora', sans-serif;
    font-weight: bolder;
    word-spacing: 3px;
    letter-spacing:1px;
    margin-bottom: 30px;
    
}
section #features-section .features-card-container{
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section #features-section .features-card-container .features-card{
    height:344px;
    width:25vw;
    /* border:2px solid red; */
    margin-bottom: 50px;
    background: var(--primary-neu-bc-color--);
    border:3px solid var(--primary-bc-color--);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 10px #fff;
    border-radius:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all 0.4s ease 0s;
}
section #features-section .features-card-container .features-card:hover{
    background-color: var(--primary-text-color--);
    color:var(--primary-neu-bc-color--);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0),inset -5px -5px 10px #ffffff00;
    cursor: pointer;

}

section #features-section .features-card-container .features-card:hover p .description {
    color: var(--primary-neu-bc-color--); /* Set the desired color on hover */
  }
section #features-section .features-card-container .features-card:hover p .title {
    color: var(--primary-neu-bc-color--); /* Set the desired color on hover */
  }
section #features-section .features-card-container .features-card:hover p svg {
    color: var(--primary-neu-bc-color--); /* Set the desired color on hover */
  }
section #features-section .features-card-container .features-card:hover p i {
    display: block;
  }
section #features-section .features-card-container .features-card p{
    width:20vw;
    height: 70%;
    transition: all 0.4s ease 0s;
    /* border:2px solid red; */
}
section #features-section .features-card-container .features-card p:hover{
    height:80%
}


section #features-section .features-card-container .features-card p svg{
    height:auto;
    stroke-width: 1 !important;
    width:50px;
    margin-bottom: 20px;
    color:var(--primary-text-color--);
    transition:all 0.4s ease 0s;
}
section #features-section .features-card-container .features-card p .title{
    display: block;
    color:black;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Sora', sans-serif; 
    margin-bottom:9px;
    transition:all 0.4s ease 0s; 
}
section #features-section .features-card-container .features-card p .description{
    font-family: 'Montserrat';
    transition:all 0.4s ease 0s;
    color:black;
    font-weight: 500;
    word-spacing: -1px;
    font-size: 16px;
    line-height: 28px;
    color:#3c3e41;  
}
section #features-section .features-card-container .features-card p i{
 
  margin-top:20px;
  font-size: 2.5rem;
  display: none;
  color:var(--primary-neu-bc-color--);
  /* color:black; */
  transition: all 0.4s ease 0s;
}

/* section end */


/* responsive */

/* responsive nav */
@media screen and (max-width: 1122px){
  nav{
    gap:0px;
    /* border:2px solid red; */
  }
  
  }
  
  @media screen and (max-width: 630px){
  
  nav div{
    display: flex;
    flex-direction: column;
    top:10px;
    position: fixed;
    right:-120px;
    background: var(--primary-neu-bc-color--);
    border:3px solid var(--primary-bc-color--);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 10px #fff;
    
   
  }
  nav div a{
    /* border:2px solid red; */
    margin:10px;
    text-align: center;
  }
  nav div a:hover{
    transform: none;
    /* border:2px solid red; */
  }
  nav div a:nth-child(1){
    display: block;
  }
  nav .bars{
    display: block;
  }
  
    
  }

 
  
  
  
  
  
    
   
    
  
  /* responsive nav */
  
  
  /* responsive section */
  @media screen and (max-width: 1416px){
    section #features-section .features-card-container .features-card{
      width:35vw;
    }
    section #features-section .features-card-container .features-card p{
      width:25vw;
    }
    
    }
  @media screen and (max-width: 1384px){
    section #features-section .features-card-container{
      justify-content: center;
    }
    section #features-section .features-card-container .features-card{
      width:70vw;
    }
    section #features-section .features-card-container .features-card p{
      width:60vw;
    }
    
    
    }
    @media screen and (max-width: 400px){
      section #features-section .features-card-container .features-card .responsive{
        /* border:2px solid red; */
        position:relative;
        bottom:20px
      }
    }
  
  
  
  /* responsive section */
  
  
  
  
  
  /* responsive */
  
  