@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@500&family=Ubuntu:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
 background-color: var(--primary-bc-color--);
 overflow-x: hidden;

}
:root{
    --primary-bc-color--:#edf1f4;
    --primary-neu-bc-color--:#f0fff0;
    --primary-text-color--:#0033ff;
    --tree-color--:#a6aeb3;
}


/* navigation start */


nav {
  /* border:2px solid red; */
  z-index:1;
  position: sticky;
  top:0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 13vh;
  gap: 500px;
  background: var(--primary-bc-color--);
  font-size: 1.4rem;
}
nav .logo {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: 'Sora', sans-serif;
  font-weight:500;
  letter-spacing: 0.4px;
}
nav div{
  /* border:2px solid red; */
  transition: all 1s ease 0s;
}

nav div a {
  text-decoration: none;
  margin: 13px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'Sora', sans-serif;
  font-weight:500;
  transition: color 0.2s ease 0s;
  letter-spacing: -0.2px;
}
nav div a:nth-child(1){
  display: none;
}

nav div a:nth-child(6) { 
  display: inline-block;
  border-radius: 4px;
  padding: 13px;
  color: var(--primary-text-color--);
  background: var(--primary-neu-bc-color--);
  border:3px solid var(--primary-bc-color--);
  border-radius:5px;
  font-weight:800;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 10px #fff;
  transition:all 0.5s ease 0s;
  transform: translateY(0px);
}
nav div a:hover {
  
  color:var(--primary-text-color--);
  /* background-color: var(--primary-text-color--); */
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0),inset 0px 0px 0px rgba(255, 255, 255, 0);
  transform: translateY(-5px);
  
}
nav div a:nth-child(6):hover{
  background-color:var(--primary-text-color--) ;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0),inset 0px 0px 0px rgba(255, 255, 255, 0);
  color:var(--primary-neu-bc-color--)
}
nav .bars{
  display: none;
  color:black;
  font-size: 2rem;

}
nav .bars:hover{
  color:var(--primary-text-color--)
}


/* navigation end */


/* section start */


section{
  /* border:2px solid red; */
  margin-top:20px;
    background-color:var(--primary-bc-color--);

    
}

section .resume-section{
  background-color: var(--primary-bc-color--);
  /* border: 2px solid red; */
  width:78vw;
  margin:auto;
 
}
section .resume-section .experience{
  color:var(--primary-text-color--);
  width:70vw;
  text-align: center;
  font-size: 1.4rem;
  margin:auto;
  padding-bottom: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-transform: uppercase;
}
section .resume-section .my-resume-title{
  font-size: 6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  word-spacing: 3px;
  letter-spacing:1px; 
  text-align: center;
  
}
section .resume-section #container1{
  margin-top:40px;
  z-index:1;
  position: relative;
  display:flex;
  justify-content: space-between;
}
section .resume-section #container1 .child{
  width:50%;
  background-color: var(--primary-neu-bc-color--);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 10px #fff;
  border:3px solid var(--primary-bc-color--);
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  font-family: 'poppins',sans-serif;
  padding:20px 0px;
}
section .resume-section #container2{
  display:flex;
  justify-content: space-between;
  /* border:2px solid red; */
}
section .resume-section #container2 .child{
  width:50%;
  background-color: var(--primary-neu-bc-color--);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 10px #fff;
  border:3px solid var(--primary-bc-color--);
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  font-family: 'poppins',sans-serif;
  padding:20px 0px;
  
}
section .resume-section #container2 .child a{
  color:var(--primary-text-color--)
}
section .resume-section #container2 #child2 .HTML{
/* border:2px solid red; */
position: relative;
width:70%;
margin:auto;
padding-top:18px;

}
section .resume-section #container2 #child2 .HTML .HTML-label{
  /* border:2px solid red; */
  width:85%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
section .resume-section #container2 #child2 .HTML .line{
  /* border:2px solid var(--primary-neu-bc-color--); */
  /* position:absolute; */
  height:4px;
  background-color: black;
  width:100%;
  /* margin:auto;/ */
  background-color: var(--primary-neu-bc-color--);
  background-color:black;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 10px #fff;
  
  
  
  

}
section .resume-section #container2 #child2 .HTML .HTML-filling{
  /* border:2px solid red; */
  position:relative;
  top:-4px;
  height:4px;
  background-color: black;
  width:75%;
  /* margin:auto; */
  background-color: var(--primary-text-color--);
 
  
}
section .resume-section #container2 #child2 .HTML .HTML-circle{
  height :20px;
  width:20px;
  border-radius:50px;
  position:relative;
  top:-15px;
  left:75%;
  background-color: var(--primary-text-color--);
  
  
}
section .resume-section #container2 #child2 .HTML .JS-label{
  /* border:2px solid red; */
  width:70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
section .resume-section #container2 #child2 .HTML .JS-filling{
  /* border:2px solid red; */
  position:relative;
  top:-4px;
  height:4px;
  background-color: black;
  width:60%;
  /* margin:auto; */
  background-color: var(--primary-text-color--);
 
  
}
section .resume-section #container2 #child2 .HTML .JS-circle{
  height :20px;
  width:20px;
  border-radius:50px;
  position:relative;
  top:-15px;
  left:60%;
  background-color: var(--primary-text-color--);
  
  
}
section .resume-section #container2 #child2 .HTML .R-label{
  /* border:2px solid red; */
  width:60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
section .resume-section #container2 #child2 .HTML .R-filling{
  /* border:2px solid red; */
  position:relative;
  top:-4px;
  height:4px;
  background-color: black;
  width:50%;
  /* margin:auto; */
  background-color: var(--primary-text-color--);
 
  
}
section .resume-section #container2 #child2 .HTML .R-circle{
  height :20px;
  width:20px;
  border-radius:50px;
  position:relative;
  top:-15px;
  left:50%;
  background-color: var(--primary-text-color--);
  
  
}
section .resume-section #container2 #child2 .HTML .D-label{
  /* border:2px solid red; */
  width:95%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
section .resume-section #container2 #child2 .HTML .D-filling{
  /* border:2px solid red; */
  position:relative;
  top:-4px;
  height:4px;
  background-color: black;
  width:85%;
  /* margin:auto; */
  background-color: var(--primary-text-color--);
 
  
}
section .resume-section #container2 #child2 .HTML .D-circle{
  height :20px;
  width:20px;
  border-radius:50px;
  position:relative;
  top:-15px;
  left:85%;
  background-color: var(--primary-text-color--);
  
  
}























/* section end */





/* responsive */

/* responsive nav */
@media screen and (max-width: 1122px){
  nav{
    gap:0px;
    /* border:2px solid red; */
  }
  
  }
  
  @media screen and (max-width: 630px){
  
  nav div{
    display: flex;
    flex-direction: column;
    top:10px;
    position: fixed;
    right:-120px;
    background: var(--primary-neu-bc-color--);
    border:3px solid var(--primary-bc-color--);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 10px #fff;
    
   
  }
  nav div a{
    /* border:2px solid red; */
    margin:10px;
    text-align: center;
  }
  nav div a:hover{
    transform: none;
    /* border:2px solid red; */
  }
  nav div a:nth-child(1){
    display: block;
  }
  nav .bars{
    display: block;
  }
  
    
  }
  
  
  
  
  
    
   
    
  
  /* responsive nav */
  
  
  /* responsive section */
  
  @media screen and (max-width: 1042px)
  {
    section #home{
     
     border:2px solid red;
     align-items: center;
      flex-direction: column-reverse;
    
  }
  }
  @media screen and (max-width: 1162px)
  {
    section #home .container{
      height:300px;
      width:300px;
      
    }
  }
  
  
  /* responsive section */
  
  
  
  
  
  /* responsive */
  
  